<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Удалить пост</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"
    />

    <link
      rel="stylesheet"
      href="../static/css/bootstrap.min.css"
      th:href="@{/css/bootstrap.min.css}"
    />
  </head>

  <body data-bs-theme="dark">
    <form
      th:if="${post}"
      th:action="@{'/removepost/' + ${post.getId()}}"
      method="post"
      class="text-center mt-5"
    >
      <h1>Удалить пост?</h1>
      <div class="container-fluid text-center rounded-3 p-3 mt-4">
        <div class="container rounded-3 text-start bg-body-tertiary p-4 mb-3">
          <h5 class="mb-3 text-center" th:text="${post.getTitle}">
            Заголовок поста
          </h5>
          <p class="mb-0" th:text="${post.getContent}">Текст поста</p>
          <hr />
          <p
            class="text-muted"
            th:text="${post.getPublishedAtFormatted()}"
          >
            {ВРЕМЯ}
          </p>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">
        <span class="fas fa-trash"></span>
        Да, удалить
      </button>
    </form>

    <!-- Скрипт -->
    <script
      src="../static/js/bootstrap.bundle.min.js"
      th:src="@{/js/bootstrap.bundle.min.js}"
    ></script>
  </body>
</html>
